@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    font-family: "Tenor Sans", sans-serif;
}

/* header */
.site-header {
    padding: 0px 30px;
}
.logo img {
    width: 100px;
}

/*  */
.banner-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.banner-content h1 {
    color: #333333;
    font-size: 50px;
    line-height: 50px;
}

.b-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.b-btn button {
    background: #00000066;
    backdrop-filter: blur(4px);
    padding: 10px 20px;
    color: #fff;
}
